.choice-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transition: opacity .15s linear;
  height: 100%;
  width: 100%;
}

.choice-item--visible {
  opacity: 1;
}

.choice-item__image {
  border-radius: 10px;
  max-width: calc(100% - 20px);
  max-height: 100%;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.choice-item__image--like {
  animation-name: like;
}

.choice-item__image--dislike {
  animation-name: dislike;
}

@keyframes like {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(300%, 150%);
  }
}

@keyframes dislike {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(-300%, 150%);
  }
}