.choice-container {
  position: relative;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.choice-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-container button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 100px;
  border-radius: 20px;
}

.choice-container button.like {
  align-items: end;
}

.choice-container button.dislike {
  align-items: flex-end;
}

.choice-items {
  position: relative;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}